body {
    background-color: #0f0f0f;
    -webkit-app-region: drag;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    color: #e1e1e1
}

.bar{
    height: 1.5rem;
    width:  auto;
    background-color: #0f0f0f;
}
